{{outlet}}
<div class="profile">
  <div class="profile__inner">
    {{#simple-form startingValues=model onsubmit=(action "addNewJob") class="profile__card" as |inputs|}}
        <div class="profile__container--input profile__small">
        <div class="profile-input">
          <p class="profile-label">Company Name</p>
          {{input class="global__input" type="text" name="name" value=inputs.companyName placeholder="Etsy, Apple etc."}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Job Title</p>
          {{input class="global__input" type="text" name="name" value=inputs.jobTitle placeholder="Product Designer, Developer etc."}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Job Description</p>
          {{textarea class="global__textarea" type="text" name="name" value=inputs.jobDescription placeholder="Union Made Creative is looking for a cross between Michael Jordan and Michael Bierut for their Senior Designer position in Los Angeles. Must love meticulous design and be able to dunk from the foul line."}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Location</p>
          {{input class="global__input" type="text" name="name" value=inputs.location placeholder="New York City, Dallas etc."}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Remote Friendly?</p>
          {{input class="global__input" type="text" name="name" value=inputs.remote placeholder="Yes, No etc."}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Experience Needed</p>
          {{input class="global__input" type="text" name="name" value=inputs.experience placeholder="1-2 Years."}}
        </div>
        <div class="box__2 post__btn">
          <button class="user-btn" type="submit" name="button">Post</button>
        </div>
      </div>
    {{/simple-form}}
</div>
</div>
