{{!-- {{#each model as |post|}}
  <div class="index__post">
    <div class="index__post--inner">
      <div class="index__post--wrapper">
        <div class="user">
          <div class="img__box">
            <img src="/images/forum/C.png" alt="" class="user__img">
          </div>
          <div class="username__box">
            <p class="username">{{post.user.firstName}} {{post.user.lastName}}</p>
            <p class="date mt">Posted August 25</p>
          </div>
        </div>
        <div class="post__box">
          {{#link-to 'app.jobs.thread' post class="post__title" }}{{post.jsonData.title}}{{/link-to}}
        </div>

        <div class="second__line">
          <div class="comment__box">
            <p class="comment">{{post.comments.length}} Comments</p>
          </div>
          <div class="icon__box">
            <i class="fa fa-heart heart" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}} --}}
{{#each model as |post|}}
<div class="index__post">
  {{#link-to 'app.jobs.thread' post class="post__title" }}
    <div class="index__post--inner">
      <div class="index__post--wrapper">
        {{user-icon user=post.user}}
        <div class="post__box">
          <h1 class="post__title">{{post.jsonData.title}}</h1>
          <div class="group">
            {{#link-to 'app.profile'}}
              <p class="username">{{post.user.firstName}} {{post.user.lastName}}</p>
            {{/link-to}}
            <h1 class="learning">, {{post.user.email}}</h1>
          </div>
        </div>
        <div class="second__line">
          <div class="comment__box">
            <p class="comment">{{post.comments.length}} Comments</p>
            <p class="date">Posted {{post.createdAtFormatted}}</p>
          </div>
        </div>
      </div>
    </div>
  {{/link-to}}
</div>
{{/each}}
