<div class="index__container">
  <h1 class="index__header">{{model.jsonData.title}}</h1>
</div>

<div class="index__post">
  <div class="index__post--inner">
    {{thread-header post=model}}

    <div class="forum__post--description">
      <div class="forum__post--description--copy content">
        {{md-text text=model.jsonData.description}}
      </div>
    </div>

    {{#simple-form onsubmit=(action "addComment" model) as |inputs| }}
      <div class="forum__post">
        <div class="">
          {{textarea class="global__textarea" type="text" name="name" value=inputs.markdown placeholder="Add a comment"}}
        </div>
        <div class="">
          <button class="submit-btn" type="submit" name="button">Post Comment</button>
        </div>
      </div>
    {{/simple-form}}
  </div>
</div>

{{#each model.comments as |comment|}}
  <div class="index__post">
    <div class="index__post--inner">
      <div class="index__post--wrapper">
        <div class="user">
          {{user-icon user=comment.user}}
          <div class="username__box">
            <p class="username">{{comment.user.firstName}} {{comment.user.lastName}}</p>
          </div>
        </div>
        <div class="post__box">
          <h1 class= "post__title">{{comment.user.email}}</h1>
        </div>
        <div class="second__line">
          <div class="comment__box">
            <p class="comment">Posted {{comment.createdAtFormatted}}</p>
          </div>
          <div class="icon__box">
            <i class="fa fa-heart heart" aria-hidden="true"></i>
          </div>
        </div>
        </div>
        <div class="forum__post--description">
          <div class="forum__post--description--copy content">
          {{#link-to 'app.resources.thread' 1 class="forum__post--question" }}{{md-text text=comment.markdown}}{{/link-to}}
        </div>
      </div>
      {{!-- {{#if (and session.currentUser (not session.currentUser.profile.profileCompleted))}} --}}
          <button {{action "deleteComment" comment}} class="submit-btn" type="submit" name="button">Delete Post</button>
      {{!-- {{/if}} --}}
    </div>
  </div>
{{/each}}
