<div class="index__post">
  <div class="index__post--inner">
    <div class="index__post--wrapper">
      {{user-icon user=model.user}}
      <div class="post__box">
        <h1 class="post__title">{{model.jsonData.title}}</h1>
        <div class="group">
          {{#link-to 'app.profile'}}
            <p class="username">{{model.user.firstName}} {{model.user.lastName}}</p>
          {{/link-to}}
          <h1 class="learning">, {{model.user.email}}</h1>
        </div>
      </div>
      <div class="second__line">
        <div class="comment__box">
          <p class="comment">{{model.comments.length}} Comments</p>
          <p class="date">Posted {{model.createdAtFormatted}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description__box">
  {{md-text text=model.jsonData.description}}
</div>
<ul class="tags-list">
  <div class="tags">
    {{#each model.tags as |tag|}}
      <li class="tag-list__item">{{tag.name}}</li>
    {{/each}}
  </div>
  {{#if (eq session.currentUser.id model.user.id)}}
    <div class="delete--btn">
      <a {{action "deletePost" model}} class="tag-list__item delete">Delete Thread</a>
    </div>
  {{/if}}
</ul>

{{#simple-form onsubmit=(action "addComment" model) as |inputs| }}
  <div class="forum__post">
    <div class="">
      {{textarea class="global__textarea" type="text" name="name" value=inputs.markdown placeholder="Add a comment"}}
    </div>
    <div class="action">
      <button class="user-btn" type="submit" name="button">Post Comment</button>
    </div>
  </div>
{{/simple-form}}


{{#each model.comments as |comment|}}
  <div class="comment__card">
    {{comment-section comment=comment}}
  </div>
{{/each}}
