<div class="index__post">
  {{#link-to 'app.resources.thread' post class="post__title" }}
    <div class="index__post--inner">
      <div class="index__post--wrapper">
        {{user-icon user=post.user}}
        <div class="post__box">
          <h1 class="post__title">{{post.jsonData.title}}</h1>
          <div class="group">
            {{#link-to 'app.profile.user-view' post.user}}
              <p class="username">{{post.user.firstName}} {{post.user.lastName}}</p>
            {{/link-to}}
            <h1 class="learning">, {{post.user.email}}</h1>
          </div>
        </div>
        <div class="second__line">
          <div class="comment__box">
            <p class="comment">{{post.comments.length}} Comments</p>
            <p class="date">Posted {{post.createdAtFormatted}}</p>
          </div>
        </div>
      </div>
    </div>
  {{/link-to}}
</div>
