<div class="forum__post index__post">
  <div class="forum__post--inner index__post--inner">
    <div class="forum__post--group index__post--wrapper">
      <div class="forum__post--left user">
        {{user-icon user=comment.user}}
        <div class="forum__post--user username__box">
          <p class="forum__post--name username">{{comment.user.firstName}} {{comment.user.lastName}}</p>
        </div>
      </div>
      <div class="forum__post--middle post__box">
        <h1 class="post__title">{{comment.user.email}}</h1>
      </div>
      <div class="second__line">
        <div class="forum__post--right comment__box">
          {{ comment.jsonData }}
          <p class="forum__post--comment comment">Posted {{comment.createdAt}}</p>
        </div>
        <div class="forum__post--heart icon__box">
          <i class="fa fa-heart heart" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="forum__post--description">
      <div class="forum__post--description--copy content">
        {{#link-to 'app.forum.thread' 1 class="forum__post--question" }}{{md-text text=comment.markdown}}{{/link-to}}
      </div>
    </div>
    <button {{action "deleteComment" comment}} class="submit-btn" type="submit" name="button">Delete Comment</button>
  </div>
</div>
