{{outlet}}
<div class="profile">
  <div class="profile__inner">
    {{#simple-form startingValues=model onsubmit=(action "addNewPost") class="profile__card" as |inputs|}}
      {{!-- <div class="index__container">
      <h1 class="global__h3 forum__post--title">Add New Post</h1>
      <button class="submit-btn login-btn mobile__btn--hide" type="submit" name="button">Add New Post</button>
    </div> --}}
      <div class="profile__container--input">
        <div class="profile-input">
          <p class="profile-label">Post Title (140 character limit)</p>
          {{input class="global__input" type="text" name="name" maxlength="140" value=inputs.title placeholder="Post Title"}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Post Category</p>
          <div class="user-bubble">
            <button class="{{if (eq answers.q2 "Alone") "user-btn--active"}} user-btn" disabled= {{if answers.q2 true}} type="button" name="button">Question</button>
            <button class="{{if (eq answers.q2 "Two People") "user-btn--active"}} user-btn" disabled= {{if answers.q2 true}} type="button" name="button">Resource</button>
            <button class="{{if (eq answers.q2 "A Group") "user-btn--active"}} user-btn" disabled= {{if answers.q2 true}} type="button" name="button">Story</button>
          </div>
        </div>

        <div class="profile-input">
          <p class="profile-label">Post Description</p>
          {{textarea class="global__textarea" type="text" name="name" value=inputs.description placeholder="Post Description"}}
        </div>

        <div class="profile-input">
          <p class="profile-label">Tags (Use comma between tags)</p>
          {{input class="global__input" type="text" name="name" value=inputs.tags placeholder="Design, Resource, Startup etc."}}
        </div>
        <div class="box__2 post__btn">
          <button class="submit-btn login-btn" type="submit" name="button">Post</button>
        </div>
      </div>
    {{/simple-form}}
  </div>
</div>
