<div class="index__post">
  <div class="index__post--inner">
    <div class="index__post--wrapper">
      {{user-icon user=model.user}}
      <div class="post__box">
        <h1 class="post__title">{{model.jsonData.title}} Peter Court</h1>
        <div class="group">
          {{#link-to 'app.profile'}}
            <p class="username">{{model.user.firstName}} {{model.user.lastName}} Peter Court</p>
          {{/link-to}}
          <h1 class="learning">, {{model.user.email}} Learning Javscript (React, Ember)</h1>
        </div>
      </div>
      <div class="second__line">
        <div class="comment__box">
          <p class="comment">{{model.comments.length}} Comments</p>
          <p class="date">Posted {{model.createdAtFormatted}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description__box">
  <div class="profile-input">
    <p class="profile-label">Current Company</p>
    <h2>Google</h2>
  </div>
  <div class="profile-input">
    <p class="profile-label">Job Title</p>
    <h2>Product Designer</h2>
  </div>
  <div class="profile-input">
    <p class="profile-label">Mini-Resume</p>
    <h2>Good to see Pastebot's return. But it needs an iOS version to be truly great. There's a whole bunch of Clipboard apps that do the job. Some are brilliant, some are adequate, some are gorgeous and goodlooking and some are functional. Curious to see what Pastebot will add.</h2>
  </div>
  <div class="profile-input">
    <p class="profile-label">I'm currently learning</p>
    <h2>Good to see Pastebot's return. But it needs an iOS version to be truly great. There's a whole bunch of Clipboard apps that do the job.</h2>
  </div>
  <div class="profile-input">
    <p class="profile-label">My Work</p>
    <h2>www.petercourt.com</h2>
    <h2>www.petercourt.com</h2>
    <h2>www.petercourt.com</h2>
  </div>
  {{md-text text=model.jsonData.description}}
</div>
