<div class="index__post">
  <div class="index__post--inner">
    <div class="index__post--wrapper">
      {{user-icon user=model}}
      <div class="post__box">
        <h1 class="post__title">{{model.firstName}} {{model.lastName}}</h1>
        <div class="group">
          {{#link-to 'app.profile'}}
            <p class="username"></p>
          {{/link-to}}
          <h1 class="learning">{{model.profile.learning}}</h1>
        </div>
      </div>
      <div class="second__line">
        <div class="comment__box">
          <p class="comment">{{model.comments.length}} Comments</p>
          <p class="date">Posted {{model.createdAtFormatted}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description__box">
  <div class="box__1">
    <div class="profile-input">
      <p class="profile-label">Current Company</p>
      <h2>{{model.profile.currentCompany}}</h2>
    </div>
  </div>
  <div class="box__1">
    <div class="profile-input">
      <p class="profile-label">Job Title</p>
      <h2>{{model.profile.jobTitle}}</h2>
    </div>
  </div>
  <div class="box__1">
    <div class="profile-input">
      <p class="profile-label">Mini-Resume</p>
      <h2>{{model.profile.miniResume}}</h2>
    </div>
  </div>

  <div class="box__1">
    <div class="profile-input">
      <p class="profile-label">Currently Learning</p>
      <h2>{{model.profile.learning}}</h2>
    </div>
  </div>
  <div class="box__1">
    <div class="profile-input">
      <p class="profile-label">My Work</p>
      <h2>{{model.profile.work}}</h2>
    </div>
  </div>
</div>
