<div class="forum__post index__post">
  <div class="forum__post--inner index__post--inner">
    {{thread-header post=model}}

    <div class="forum__post--description">
      <div class="forum__post--description--copy content">
        {{md-text text=model.jsonData.description}}
        <div class="actions">
          <div class="action">
            <p class="tag--item">#design</p>
          </div>
          <div class="action">
            <p class="tag--item">#startups</p>
          </div>
          <div class="action">
            <p class="tag--item">#resource</p>
          </div>
        </div>
        <div class="actions">
          <div class="action">
            <p class="action--item">{{model.comments.length}} Comments</p>
          </div>
          <div class="action">
            <a {{action "deletePost" model}} class="action--item">Delete</a>
          </div>
          <div class="action">
            <a {{action "deletePost" model}} class="action--item">Edit</a>
          </div>
        </div>
        {{#simple-form onsubmit=(action "addComment" model) as |inputs| }}
          <div class="forum__post">
            <div class="">
              {{textarea class="global__textarea" type="text" name="name" value=inputs.markdown placeholder="Add a comment"}}
            </div>
            <div class="">
              <button class="submit-btn" type="submit" name="button">Post Comment</button>
            </div>
          </div>
        {{/simple-form}}
      </div>
    </div>
  </div>
</div>

{{#each model.comments as |comment|}}
  {{comment-section comment=comment}}
{{/each}}
